/* --------------------- กล่องเมนูหลัก --------------------- */
.floating-menu {
  position: fixed;
  top: 2vw;           
  right: 7vw;         
  width: 16.5vw;        
  background-color: #fff;
  border: 0.05vw solid #ccc;  
  border-radius: 0.31vw;       
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  z-index: 9999;
  font-family: "TorsilpChillChill", sans-serif;
}

/* รายการเมนูหลัก */
.floating-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* เมนูย่อยซ่อนอยู่ก่อน */
.submenu {
  display: none;
}

/* ถ้า li มีคลาส .open => โชว์เมนูย่อย */
.has-submenu.open .submenu {
  display: block;
}

/* สไตล์ li */
.floating-menu li {
  border-bottom: 0.05vw solid #eee; /* 1px */
  padding: 0.42vw 0.63vw;          
}

/* เอาเส้นขอบล่างรายการสุดท้ายออก */
.floating-menu li:last-child {
  border-bottom: none;
}

/* ลิงก์ในเมนู */
.floating-menu li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.floating-menu p {
  font-family: TorsilpChillChill;
  font-weight: bold;
  background-color: #e0e0e0;
  padding: 0.6vw;
  margin: 0.1vw;
}

/* hover เปลี่ยนพื้นหลัง */
.floating-menu li:hover {
  background-color: #f2f2f2;
}

/* เมนูย่อยเยื้องขวาเล็กน้อย */
.submenu li {
  padding-left: 1.25vw;  
}

/* ลูกศรข้าง Workshops */
.arrow {
  margin-left: 0.26vw;     
}

/* คลาสสำหรับ "ซ่อน" เมนู (display: none) */
.hidden {
  display: none !important;
}

/* --------------------- ปุ่มกลม (Hamburger + Sound) --------------------- */
.icon-buttons {
  position: fixed;
  top: 1.5vw;           
  right: 2vw;        
  display: flex;
  flex-direction: column;  
  gap: 0.52vw;            
  z-index: 99999;          
}

.circle-button {
  width: 4vw;        
  height: 4vw;        
  border-radius: 50%;
  border: 0.05vw solid grey;  
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1); 
}

.circle-button img {
  width: 3vw;         
  height: 3vw;        
}


/* มือถือ */
@media screen and (max-width: 1000px) {
  .icon-buttons {
    position: fixed;
    top: 1.5vw;           
    right: 1.5vw;         
    display: flex;
    flex-direction: column;  
    gap: 0.52vw;            
    z-index: 99999;         
  }
  
  .floating-menu {
    position: fixed;
    top: 2vw;           
    right: 7vw;       
    width: 22vw;        
  }
  .circle-button {
    width: 4.2vw;      
    height: 4.2vw;        
  }
  .circle-button img {
    width: 4vw;         
    height: 4vw;       
  }
  .floating-menu p {
    font-size: 1vw;
    
  }
  .floating-menu li {
    font-size: 1vw;
  }
  
}

/* ไอแพด */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .icon-buttons {
    position: fixed;
    top: 1.5vw;           
    right: 3vw;         
    display: flex;
    flex-direction: column;  
    gap: 1vw;             
    z-index: 99999;         
  }
  
  .floating-menu {
    position: fixed;
    top: 2vw;          
    right: 10vw;     
    width: 25vw;       
  }
  .circle-button {
    width: 5.5vw;      
    height: 5.5vw;        
  }
  .circle-button img {
    width: 4.5vw;         
    height: 4.5vw;       
  }
  .floating-menu p {
    font-size: 1.6vw;
    
  }
  .floating-menu li {
    font-size: 1.6vw;
  }
}